# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

GUI/windows/ui_*

*.pyc

/FW/incremental_db
/FW/db
/FW/db
/FW/output_files
/FW/simulation
/FW/.qsys_edit

*.bak
*.vcd
*.cmi

/Lang/_build
/Lang/ls
/Lang/compiler

*.zip
*.native
